# Original Dataset
RadarScenes/
# Grouped by odmetting index Dataset
ProcessedData/
# No static points Dataset
NonStaticData/
# Only moving objects Dataset (Filtered by Velocity: Threshold = 0.1)
MovingObjectsData/
# Normlized Dataset (Good only for model training, not good for tracking)
NormlizedData/
# WGAN Generated data
DataPreprocessing/FakeData
# Final prepared Dataset (Mixed real + fake data)
MixedData/
# Radars early fusion data
FusedData/
# Fused sequences names
fused_log.txt
# Failed sequences to fuse (because of memory issue or ...)
failed_log.json
# Pycache
__pycache__/
# Models checkpoints
checkpoints/
# Extracted features with labels
precomputed_data.npz
# Tracking demo
tracking_result.mp4